@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>ГК Softline (ПАО «Софтлайн») — один из лидеров ИТ-рынка с более чем 30-летним опытом, 
        широким региональным присутствием в более чем 25 представительствах по всей России и 
        доступом к квалифицированным кадрам, имеющий в штате свыше 8 200 сотрудников, в том 
        числе около 4 500 инженеров и разработчиков. В настоящее время ГК Softline (ПАО «Софтлайн») 
        является одной из самых быстрорастущих компаний в отрасли. В 2022 году ее оборот превысил 70 млрд рублей. 
        Группа обеспечивает и ускоряет цифровую трансформацию бизнеса своих заказчиков, 
        связывая около 100 000 конечных клиентов из различных отраслей экономики с более чем 5 000 лучших 
        в своем классе ИТ-производителей.</p>
</div>
